mecab-python3
unidic
bs4
pyyaml
google-cloud-aiplatform
google-cloud-logging
google-generativeai
google-genai>=1.17.0
openai
json_repair
flask
json5
jsonschema
colorlog
jsonref
aiofiles
numpy
scikit-learn
joblib